<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trottirack's</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <header>
        <h1>Bienvenue sur notre site</h1>
    </header>
    <main>
        <h2>Bienvenue sur la page d'accueil du site Trottiracks</h2>
        
        <p>Nous vous proposons de gérer vos slots de racks.</p>

        <!-- Ajout du bouton pour rediriger vers la page des slots -->
        <a href="/slots" class="button">Voir les Slots</a>

    </main>
    <footer>
        <p>&copy; 2024 Trottiracks - Tous droits réservés</p>
    </footer>
</body>
</html>
