<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page avec bouton centré</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

    <div class="container">
        <button onclick="window.location.href = 'http://127.0.0.1:5000/rack/ouvert';">Ouvrir Le Rack</button>
        <button onclick="window.location.href = 'http://127.0.0.1:5000/utilisateurs';">db users</button>
    </div>

</body>
</html>

